@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #0f172a;
  --highlight: #7c3aed;
  --chart-gradient-from: rgba(124, 58, 237, 0.5);
  --chart-gradient-to: rgba(124, 58, 237, 0);
  --text-secondary: #334155;
}

@layer base {
  .input-text {
    @apply text-primary border-gray-200 border-2 hover:bg-gray-100 transition-colors rounded-md outline-none px-3 py-2;
  }

  .chart {
    @apply w-96 h-96 bg-gradient-to-b from-chart-gradient-50 to-chart-gradient-0;
  }
}
