@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #0f172a;
  --highlight: #ffa500;
  --chart-gradient-from: rgba(124, 58, 237, 0.5);
  --chart-gradient-to: rgba(124, 58, 237, 0);
  --text-secondary: #334155;
}

@layer base {
  .input-text {
    @apply text-primary border-gray-200 border-2 hover:bg-gray-100 transition-colors rounded-md outline-none px-3 py-2;
  }

  .chart {
    @apply w-96 h-96 bg-gradient-to-b from-chart-gradient-50 to-chart-gradient-0;
  }

  .dropdown {
    @apply absolute w-24 z-50 bg-white flex-col justify-start mt-1 shadow-sm rounded-xl
     text-gray-400;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
